@import 'components/variables';

.slick-next,
.slick-prev {
  width: 20px;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.2);
  &:before {
    display: none;
  }
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  &:focus {
    background-color: rgba($color: #000000, $alpha: 0.2);
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }
  img {
    width: 10px;
  }
  @media (min-width: 992px) {
    width: 40px;
    img {
      width: 20px;
    }
  }
}
.slick-next {
  right: 0px;
}
.slick-prev {
  left: 0px;
  z-index: 1;
}

#hero {
  padding: 3rem 0;
  color: $white;
  h1, p {
    margin-bottom: 1.5rem;
  }
  .content-img {
    text-align: center;
    img:nth-child(1) {
      margin: 0 1.5rem;
      width: 10%;
    }
    img:nth-child(2) {
      margin: 0 1.5rem;
      width: 20%;
    }
  }
  .slider-hero {
    .img-slider {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

#ubicacion {
  background-color: $bg-grey;
  padding: 3rem 0;
  .content-img {
    height: calc(60vh + 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .map-ubicacion {
      border: 2px solid $text-grey;
      height: 30vh;
    }
    .img-ubicacion {
      width: 100%;
      height: 30vh;
      object-fit: cover;
      object-position: right;
    }
    @media (min-width: 768px) {
      height: 60vh;
      flex-direction: row;
      justify-content: space-between;
      .map-ubicacion {
        width: 100%;
        height: 100%;
      }
      .img-ubicacion {
        height: 100%;
      }
    }
    @media (min-width: 768px) and (orientation: portrait) {
      height: 30vh;
      flex-direction: row;
      justify-content: space-between;
      .map-ubicacion {
        width: 100%;
        height: 100%;
      }
      .img-ubicacion {
        height: 100%;
      }
    }
  }
}
#entorno {
  background-color: $bg-grey;
  padding: 0 0 3rem 0;
  .content-img {
    height: calc(60vh + 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .img-entorno {
      width: 100%;
      height: 30vh;
      object-fit: cover;
      object-position: right;
    }
    @media (min-width: 768px) {
      height: 60vh;
      flex-direction: row;
      justify-content: space-between;
      .map-ubicacion {
        width: 100%;
        height: 100%;
      }
      .img-entorno {
        height: 100%;
      }
    }
    @media (min-width: 768px) and (orientation: portrait) {
      height: 30vh;
      flex-direction: row;
      justify-content: space-between;
      .img-entorno {
        height: 100%;
      }
    }
  }
}
#slider-ambientes {
  position: relative;
  #sliderAmbientesControls {
    height: 50vh;
    .carousel-inner {
      height: 100%;
      .carousel-item {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .carousel-control-next,
    .carousel-control-prev {
      width: 8%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      &:focus {
        opacity: 0.5;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  @media (min-width: 768px) {
    #sliderAmbientesControls {
      height: calc(95vh - 100px);
    }
  }
  @media (min-width: 768px) and (orientation: portrait) {
    #sliderAmbientesControls {
      height: 60vh;
    }
  }
  .content-text {
    color: $white;
    padding: 1rem;
    @media (min-width: 768px) {
      position: absolute;
      top: 2rem;
      right: 7%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      width: 45%;
      z-index: 1;
    }
  }
}
#plantas {
  padding: 3rem 0;
  background-color: $bg-grey;
  @media (min-width: 768px) {
    background-color: $black;
    color: $white;
  }
  .left {
    .col-img {
      padding-top: calc(var(--bs-gutter-x) * .5);
      padding-bottom: calc(var(--bs-gutter-x) * .5);
      .content-img {
        position: relative;
        width: 100%;
        padding-bottom: 80%;
        overflow: hidden;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: all 0.3s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .right {
    .content-img {
      text-align: center;
      img {
        width: 80%;
      }
    }
  }
}
#historia {
  background-color: $black;
  color: $white;
  .content-img {
    position: relative;
    height: 50vh;
    .img-historia {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  @media (min-width: 768px) {
    background-color: $bg-grey;
    color: $black;
    .content-img {
      height: auto;
      .img-historia {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}