#navbar {
  border-bottom: 2px solid $white;
  background-color: $black;
  .navbar {
    .navbar-brand {
      img {
        height: 40px;
        transition: all 0.3s;
        @media (min-width: 992px) {
          height: 60px;
        }
      }
    }
    .navbar-toggler {
      color: $white;
      border-color: transparent;
      &:focus {
        box-shadow: none;
      }
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    }
    .navbar-nav {  
      .nav-item {
        .nav-link {
          text-align: center;
          color: $white;
          @media (min-width: 992px) {
            padding: 0 1rem;
            border-right: 1px solid $white;
            &::before {
              background-color: $white;
            }
            &:nth-child(1) {
              .nav-link {
                border-left: 1px solid $white;
              }
            }
          }
        }
      }
    }
  }
  .nav-pills .nav-link {
    border-radius: 0;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: transparent;
  }
  .nav-pills .nav-link.active:before,
  .nav-pills .show > .nav-link:before {
    left: 1rem;
    right: 1rem;
  }
}