<div id="navbar">
  <nav class="navbar navbar-expand-xl navbar-light">
    <div class="container">
      <a class="navbar-brand" href="./">
        <img class="logo-navbar" src="assets/images/logo.png" alt="One Up">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link @@index btn-underline-from-center" href="#">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link @@tienda btn-underline-from-center" href="#">TIENDA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link @@productos btn-underline-from-center" href="#">PRODUCTOS</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-custom btn-rounded btn-red-transparent btn-center-out" href="">CATALOGO VIRTUAL</a>
          </li>
        </ul>
        <div class="icons-perfil mt-3 mt-xl-0">
          <a href="#">
            <img class="img-icons" src="assets/images/buscador.png" alt="buscar">
          </a>
          <a href="#" style="position: relative;">
            <img class="img-icons" src="assets/images/carrito.png" alt="carrito">
            <span class="notificacion-icon">2</span>
          </a>
          <a href="#" class="btn-user" style="position: relative";>
            <img class="img-icons" src="assets/images/perfil.png" alt="user"/>
          </a>
          <div class="popup-login" style="display: none;">
            <div class="d-grid p-3">
              <a class="btn btn-custom btn-rounded btn-redgr-white btn-center-out px-0 mb-3" href="">Iniciar Sesión</a>
              <a class="btn btn-custom btn-rounded btn-redgr-white btn-center-out px-0" href="">Registrarse</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<div id="navbar-mobile" class="navbar-mobil">
  <div class="container">
    <div class="menu">
      <button id="open" class="btn">
        <img src="assets/images/menu.png" alt="menu">
      </button>
      <img class="img-logo" src="assets/images/logo.png" alt="logo">
      <div class="icons-perfil">
        <a href="#" class="btn-user" style="position: relative";>
          <img class="img-icons" src="assets/images/perfil.png" alt="user"/>
        </a>
        <div class="popup-login" style="display: none;">
          <div class="d-grid p-3">
            <a class="btn btn-custom btn-rounded btn-redgr-white btn-center-out px-0 mb-3" href="">Iniciar Sesión</a>
            <a class="btn btn-custom btn-rounded btn-redgr-white btn-center-out px-0" href="">Registrarse</a>
          </div>
        </div>
        <a href="#" style="position: relative;">
          <img class="img-icons" src="assets/images/carrito.png" alt="carrito">
          <span class="notificacion-icon">2</span>
        </a>
      </div>
    </div>
    
    <div class="menu-open">
      <div id="close" class="icon-close">
        <img src="assets/images/cerrar.png" alt="close">
      </div>
      <div class="contenedor-menu">
        <p class="title-menu">Menu</p>
        <ul>
          <li>
            <a href="#">
              Catalogo Virtual
            </a>
          </li>
          <li>
            <a href="#">
              Notificaciones
            </a>
            <span class="notificacion">2</span>
          </li>
          <li>
            <a href="#">
              Perfil
            </a>
          </li>
          <li>
            <a href="#">
              Sobre Nosotros
            </a>
          </li>
          <li>
            <a href="#">
              Aviso Legal
            </a>
          </li>
          <li>
            <a href="#">
              Cerrar Sesión
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
