<script src="assets/libs/jquery/jquery.min.js"></script>
<script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/libs/wowjs/wow.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="assets/js/main.js"></script>
<script>
  wow = new WOW({
    boxClass:     'wow',      // default
    animateClass: 'animated', // default
    offset:       0,          // default
    mobile:       true,       // default
    live:         true        // default
  })
  wow.init();
</script>
<script>
  $("#contact-form").submit(function(e){
    
    $("#img-loading").removeClass("d-none");
    $("#img-loading").addClass("d-block");
    $("#text-submit").attr("class", "d-none");
    $("#submit").attr("disabled", "disabled");
    e.preventDefault();
    
    let name = $("#name").val();
    let mail = $("#mail").val();
    let consulta = $("#consulta").val();
    if (name.length == 0 && mail.length == 0 && consulta.length == 0) {
      $(".alert").removeClass("d-block");
      $(".alert").addClass("d-none");
      $("#inputEmpty").addClass("d-block");
      console.log('Todos los campos son requeridos');
    }
    
    $.ajax({
      url: "mail/contact-me.php",
      type: "POST",
      data: {
        name: name,
        mail: mail,
        consulta: consulta,
      },
      success: function(data) {
        $(".alert").removeClass("d-block");
        $(".alert").addClass("d-none");
        $("#text-submit").attr("class", "d-block");
        $("#img-loading").removeClass("d-block");
        $("#img-loading").addClass("d-none");
        $("#submit").removeAttr("disabled");
        $("#mailSuccess").removeClass("d-none");
        $("#mailSuccess").addClass("d-block");
        $("#contact-form").trigger("reset");
      },
      error: function() {
        $(".alert").removeClass("d-block");
        $(".alert").addClass("d-none");
        $("#text-submit").attr("class", "d-inline-block");
        $("#img-loading").addClass("d-none");
        $("#img-loading").removeClass("d-inline-block");
        $("#submit").removeAttr("disabled");
        $("#mailError").removeClass("d-none");
        $("#mailError").addClass("d-block");
        $("#contact-form").trigger("reset");
      }
    });
  });
</script>