<div id="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-5">
        <div class="slider-hero">
          <div>
            <div class="img-slider wow fadeInLeft">
              <img src="assets/images/home/slider-hero/01.jpg" alt="Hero 01">
            </div>
          </div>
          <div>
            <div class="img-slider wow fadeInLeft">
              <img src="assets/images/home/slider-hero/02.jpg" alt="Hero 02">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-7 ps-xl-5 d-flex flex-column justify-content-between pt-3 pt-lg-0 pb-3">
        <div>
          <h1>PARA VIVIR Y DISFRUTAR</h1>
          <p>El éxito de Meridies, el ediﬁcio que hemos construido en la calle España 386, nos impulsó a construir, a solo dos cuadras de allí, <strong>Meridies 2, en la calle Paso 578 del municipio de Tigre.</strong></p>
          <p><strong>Un espacio ideal</strong> para el descanso, la lectura, observar en silencio un hermoso atardecer desde la terraza o reunirse con familiares y amigos.</p>
          <p>El entorno propone disfrutar de paseos, andar en bicicleta, o hacer deporte. <strong>Un estilo de vida especial,</strong> apacible, cerca del río y con <strong>vistas panorámicas desde la terraza. </strong></p>
        </div>
        <div class="content-img">
          <img src="assets/images/logomts.svg" alt="MTS Desarrollos Urbanos">
          <img src="assets/images/logoidear.svg" alt="Idear">
        </div>
      </div>
    </div>
  </div>
</div>