<div id="historia">
  <div class="container-custom">
    <div class="row m-0">
      <div class="col-12 col-md-6 content-img order-2 order-md-1 wow fadeInLeft slow">
        <img src="assets/images/home/historia.jpg" alt="Historia" class="img-historia">
      </div>
      <div class="col-12 col-md-6 py-5 ps-md-5 order-1 order-md-2 wow fadeInRight slow">
        <h2>NUESTRA HISTORIA</h2>
        <p>La historia de MTS como empresa constructora se destaca por una <strong>extensa trayectoria en desarrollos urbanos, en diferentes puntos del país.</strong></p>
        <p>En el año 2011 comenzamos con la construcción ininterrumpida de casas y duplex de alta calidad, para sumar, desde el año 2014, la construcción de diferentes ediﬁcios de categoría.</p>
        <p class="mb-0">Nos enorgullece contar entre nuestros desarrollos con nada menos que <strong>40 casas, 10 duplex y 3 ediﬁcios construidos en zona norte y en la costa argentina.</strong></p>
      </div>
    </div>
  </div>
</div>