<div id="plantas">
  <div class="container-custom">
    <div class="row">
      <div class="col-12 col-lg-6 left order-2 order-lg-1">
        <div class="row">
          <div class="col-6 col-img wow fadeInLeft slow">
            <div class="content-img">
              <img src="assets/images/home/planta01.jpg" alt="Planta 01">
            </div>
          </div>
          <div class="col-6 col-img wow fadeInLeft slow">
            <div class="content-img">
              <img src="assets/images/home/planta02.jpg" alt="Planta 02">
            </div>
          </div>
          <div class="col-6 col-img wow fadeInLeft slow">
            <div class="content-img">
              <img src="assets/images/home/planta03.jpg" alt="Planta 03">
            </div>
          </div>
          <div class="col-6 col-img wow fadeInLeft slow">
            <div class="content-img">
              <img src="assets/images/home/planta04.jpg" alt="Planta 04">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 wow fadeInLeft slow">
            <p class="mt-5"><strong>MÁXIMA COMODIDAD</strong></p>
            <p><strong>Meridies 2</strong> cuenta con <strong>57 departamentos</strong> desarrollados <strong>en 8 pisos.</strong> Las unidades serán de <strong>1, 2 y 3 ambientes,</strong> simples y duplex. Departamentos <strong>con balcones y terrazas propias,</strong> con amplias vistas. En el piso 9 se ubicará la <strong>piscina</strong> y un <strong>espacio destinado a tomar sol</strong> y descansar con familiares y amigos. La <strong>planta baja</strong> cuenta con un <strong>local comercial, 29 cocheras</strong> cubiertas y descubiertas y un <strong>espacio para guardar bicicletas.</strong></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 right order-1 order-lg-2">
        <div class="row h-100">
          <div class="col 12 d-flex flex-column justify-content-between">
            <div class="content-text pt-lg-2 wow fadeInRight slow">
              <h2>LA CALIDAD ES NUESTRO SELLO</h2>
              <p><strong>Meridies 2 se destaca por la amplitud de sus ambientes,</strong> el empleo de materiales nobles y la sencillez del mantenimiento, <strong>utilizando exclusivamente elementos de primera calidad.</strong></p>
            </div>
            <div class="text-center d-none d-lg-block wow fadeInUp slow">
              <a href="assets/docs/Plantas_Meridies2.pdf" target="_blank" class="btn btn-outline-secondary btn-custom  px-4"><strong>VER PLANTAS</strong></a>
            </div>
            <div class="content-img d-none d-lg-block wow fadeInRight slow">
              <img src="assets/images/home/planta.png" alt="Planta">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 right d-lg-none order-3">
        <div class="row h-100">
          <div class="col 12 d-flex flex-column justify-content-between">
            <div class="content-img wow fadeInRight slow">
              <img src="assets/images/home/planta.png" alt="Planta">
            </div>
            <div class="text-center mt-3 wow fadeInUp slow">
              <a href="" class="btn btn-outline-secondary btn-custom px-4"><strong>VER PLANTAS</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>