<div id="slider-ambientes">
  <div class="container-fluid p-0 position-relative">
    <div class="content-text wow fadeInRight slow delay-1s">
      <div class="">
        <h2>EL CONFORT, LA BASE <br> DE NUESTROS PROYECTOS</h2>
        <p class="m-0">Nuestro nuevo proyecto ofrece la oportunidad de disfrutar, además de su excelente entorno, de un <strong>diseño moderno  y funcional,</strong> basado en la más <strong>alta calidad de construcción,</strong> que ofrece el <strong>máximo confort en cada detalle.</strong></p>
      </div>
    </div>
    <div id="sliderAmbientesControls" class="carousel slide wow fadeIn slow" data-bs-ride="carousel" data-bs-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/home/slider-ambientes/dormitorio.jpg" class="d-block w-100" alt="dormitorio">
        </div>
        <div class="carousel-item">
          <img src="assets/images/home/slider-ambientes/hall.jpg" class="d-block w-100" alt="hall">
        </div>
        <div class="carousel-item">
          <img src="assets/images/home/slider-ambientes/pergola.jpg" class="d-block w-100" alt="pergola">
        </div>
        <div class="carousel-item">
          <img src="assets/images/home/slider-ambientes/cocina.jpg" class="d-block w-100" alt="cocina">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#sliderAmbientesControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#sliderAmbientesControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>