<div id="ubicacion">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 wow fadeInLeft slow">
        <h2 class="mb-3">UN LUGAR INIGUALABLE</h2>
        <p><strong>UBICACIÓN</strong></p>
        <p>En la calle <strong>Paso 578</strong>, a metros de España 386, donde se encuentra Meridies, y muy <strong>cerca de la estación Carupá</strong> del Ferrocarril Mitre, Meridies 2 de halla en un <strong>polo de gran desarrollo</strong> y cuenta con <strong>excelentes vías de acceso.</strong></p>
      </div>
    </div>
    <div class="row content-img">
      <div class="col-12 col-md-6 order-2 order-md-1 h-md-100 wow fadeInLeft slow">
        <iframe class="map-ubicacion" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.780229740918!2d-58.57248558255615!3d-34.43233709999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca5761f9a871d%3A0x3fcd45c34e40f60f!2sPaso%20578%2C%20B1648CCL%20Tigre%2C%20Provincia%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses!2sve!4v1653500248514!5m2!1ses!2sve" width="100%" height="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2 h-md-100 wow fadeInRight slow">
        <img src="assets/images/home/tren.jpg" alt="" class="img-ubicacion">
      </div>
    </div>
  </div>
</div>
<div id="entorno">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 wow fadeInLeft slow">
        <p><strong>ENTORNO</strong></p>
        <p>
          <strong>Muy cerca</strong> del predio se encuentran el <strong>centro comercial de San Fernando,</strong> numerosas <strong>líneas de colectivos,</strong> el <strong>área comercial</strong> y dieversos <strong>bancos en la Av. Cazón.</strong>
          Encontramos también una variada gama de <strong>centros culturales, así como de entretenimientos y gastronomía.</strong>
        </p>
      </div>
    </div>
    <div class="row content-img">
      <div class="col-12 col-md-6 h-md-100 wow fadeInLeft slow">
        <img src="assets/images/home/entorno01.jpg" alt="" class="img-entorno">
      </div>
      <div class="col-12 col-md-6 h-md-100 wow fadeInRight slow">
        <img src="assets/images/home/entorno02.jpg" alt="" class="img-entorno">
      </div>
    </div>
  </div>
</div>